* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(199, 206, 211);  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Patrick Hand', cursive;
  height: 100vh;
}

.jumbotron {
  display: flex;
  margin: 20px auto;
  align-items: center;
}

.title {
  font-size: 45px;
}

.shiba {
  margin: 0 10px;
}

.reset-button {
  background-color: rgb(12, 213, 231);
  display: flex;
  margin: 20px auto;
  padding: 10px 15px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

.reset-button:active {
  transform: scale(.97);
}

.memory-game {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

 @media (max-width: 600px) {
  .memory-game {
    width: 90%;
  } 
}
 @media (min-width: 601px) {
  .memory-game {
    width: 70%;
  } 
}
 @media (min-width: 768px) {
  .memory-game {
    width: 60%;
  } 
}
 @media (min-width: 992px) {
  .memory-game {
    width: 40%;
  } 
}
 @media (min-width: 1200px) {
  .memory-game {
    width: 35%;
  } 
}

.memory-card {
  width: calc(25% - 10px);
  position: relative;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.memory-card:after {
  content: "";
  display: block;
  padding-top: 100%;
}
/* https://www.sodawebmedia.com/blog/create-responsive-square-css/
By making use of the padding-top, we can create a perfect square, 
also took away memory-game and memory-card height away to make responsive */

.memory-card:active {
  transform: scale(.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face, .back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  border: 2px solid black;
  backface-visibility: hidden;
}  
/* The backface-visibility property defines whether or not the back face of an element should be visible when facing the user.  The back face of an element is a mirror image of the front face being displayed. */

.front-face {
  transform: rotateY(180deg)
}
