* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(199, 206, 211);  
  height: 100vh;
  overflow: hidden;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin .5s ease-out;
}
.screen.up {
  margin-top: -100vh;
}

/* Title Screen ------------------------------------------------------------------------------ */
.jumbotron {
  margin: 0 auto;
  /* changed "margin: auto" to 0 for top bottom, auto is not a defined value, thats why it can't be decreased to zero */
  text-align: center;
}

.title {
  font-size: 45px;
  font-family: 'Patrick Hand', cursive;
}
 @media (max-width: 575px) {
  .title {
    font-size: 40px;
    margin: 0 3px;
  } 
}

.shiba {
  margin-bottom: 10px;
}

/* Buttons/Functions ----------------------------------------------------------------------------------- */
#start {
  margin-top: 25px;
}
#reset {
  margin: 5px;
}
#start, #reset {
  background-color: rgb(12, 213, 231);
  padding: 8px 15px;
  font-size: 25px;
  border: 2px solid black;
  border-radius: 5px;
  font-family: 'Patrick Hand', cursive;
  font-weight: bold;
}
#reset:active, #start:active {
  transform: scale(.97);
  background-color: rgb(11, 191, 207);
}

.functions {
  display: flex;
  margin-top: 20px;
  text-align: center;
}

#time {
  padding: 8px 15px;
  font-size: 25px;
  border: 2px solid black;
  border-radius: 5px;
  font-family: 'Patrick Hand', cursive;
  font-weight: bold;
  margin: 5px;
}
#time {
  background-color: #13FBDC;
}

/* Game Board Screen ---------------------------------------------------------------------------- */
.memory-game {
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  justify-content: center;
  /* part1: gives depth to elements for 3D effect */
}
 @media (max-width: 575px) {
  .memory-game {
    width: 98%;
  } 
}
 @media (min-width: 1200px) {
  .memory-game {
    width: 30%;
  } 
}

.memory-card {
  width: calc(25% - 10px);
  position: relative;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  /* part2: inserts memory card element inside 3D space which is create in the memory game container */
  transition: transform .5s;
}
 @media (max-width: 601px) {
  .memory-card {
    margin: 3px;
  }
}
.memory-card:after {
  content: "";
  display: block;
  padding-top: 100%;
}
/* https://www.sodawebmedia.com/blog/create-responsive-square-css/
By making use of the padding-top, we can create a perfect square, 
also took away memory-game and memory-card height away to make responsive */
.memory-card:active {
  transform: scale(.95);
  transition: transform .2s;
}
.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face, .back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  border: 2px solid black;
  backface-visibility: hidden;
}  
/* The backface-visibility property defines whether or not the back face of an element should be visible when facing the user.  The back face of an element is a mirror image of the front face being displayed. */
.front-face {
  transform: rotateY(180deg);
}

